.form {
  display: flex;
  flex-direction: column;
  padding: 5rem 3rem;
  width: 45rem;
  border-radius: 5px;
  align-items: center;
  background-color: #fff;
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 200;
  transform: translate(-50%, -30%);
  /* visibility: hidden;
  opacity: 0; */
}
