:root {
  --color-light: #ffff;
  --color-primary: #f7f7f7;
  --color-secondary: rgb(82, 77, 77);
  --color-tertiary: #ff85a1;
  --color-border: rgba(221, 221, 221, 0.595);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 65.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  position: relative;
}

a:link,
a:visited {
  cursor: pointer;
  text-decoration: none;
}
