.input {
  font-family: inherit;
  border: none;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  margin: 0 0 3rem 0;
  width: 30rem;
  background-color: #f3f3f4;
  color: #808080;
  border: 2px solid transparent;
  transition: all 0.3s;
}
