.figure {
  padding: 2rem 3rem;
  border-radius: 3px;
  background-color: #f7f7f7;
  margin: 0;
}
.figure:not(:last-of-type) {
  margin-right: 4rem;
}
.figure__link {
  text-decoration: none;
}
.figure__image {
  height: 20rem;
}
.figure__title {
  font-size: 2rem;
}
.figure__price {
  font-size: 1.5rem;
}
