{% extends 'main.html' %}
{% load static %}

{% block header-title %}
   {{ activity_name }}
{% endblock %}

{% block price %}
   {{ activity_price }} $ per person
{% endblock %}

{% block gallery %}
   {% for image in activity_images %}
      <img src="{{ image.activity_image_url }}" alt="Activity Image" class="gallery-box__image"/>
   {% endfor %}
{% endblock %}

{% block instructor_image %}
   {% for instructor in activity_instructor %}
      {{ instructor.instructor_image }}
   {% endfor %}
{% endblock %}

{% block instructor_name %}
   {% for instructor in activity_instructor %}
      {{ instructor.first_name }} {{ instructor.last_name }}
   {% endfor %}
{% endblock %}

{% block description_title %}Activity{% endblock %}

{% block description %}
   {{ activity_description }}
{% endblock %}