{% extends 'main.html' %}
{% load static %}

{% block header-title %}
	{{ hotel_name }}
{% endblock %}

{% block header-title-1 %}
	{% for address in hotel_address %}
      {{ address.street_name }}
   {% endfor %}
{% endblock %}
      
{% block header-title-2 %}      
	{% for address in hotel_address %}
      {{ address.country_name }} {{ address.city_name }}
   {% endfor %}
{% endblock %}

{% block price %}
	{{ price_per_night }} $ per night
{% endblock %}

{% block gallery %}
   {% for image in hotel_images %}
      <img src="{{ image.hotel_image_url }}" alt="Hotel Image" class="gallery-box__image"/>
   {% endfor %}
{% endblock %}

{% block description_title %}Hotel{% endblock %}

{% block description %}
   {{ hotel_description }}
{% endblock %}