{% extends 'base.html' %}
{% load static %}

{% block font %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&amp;display=swap" rel="stylesheet" />
  <link rel="shortcut icon" href="{% static 'img/logo.png' %}" type="image/x-icon" />
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
{% endblock %}

{% block javascript %}
  <script defer src="{% static 'build/index.js' %}"></script>
{% endblock %}

{% block body %}
  <body>
    <div class="overlay"></div>
    
    <div class="popup-menu">
      <h2 class="heading-default popup-menu__title">Select Checkin Date</h2>

      <div class="popup-menu__date-box">
        <button class="btn-default btn-prev popup-menu__btn--prev">prev &lArr;</button>
        <h3 class="heading-default popup-menu__date"></h3>
        <button class="btn-default btn-next popup-menu__btn--next">next &rArr;</button>
      </div>

      <div class="popup-menu__date-selection">
        <button class="btn-default btn-date"></button>
        <button class="btn-default btn-date"></button>
        <button class="btn-default btn-date"></button>
      </div>
      <button class="btn-default btn-save">Save</button>
    </div>

    <header class="header">
      <div class="header__title-box"> 
        <h2 class="heading-default header__title-primary">{% block header-title %}{% endblock %}</h2>
        <h3 class="heading-default header__title-secondary">
          <span class="heading-default header__title-1">{% block header-title-1 %}{% endblock %}</span>
          <span class="heading-default header__title-2">{% block header-title-2 %}{% endblock %}</span>
        </h3>
        <h3 class="heading-default header__price">{% block price %}{% endblock %}</h3>
      </div>
    </header>

    <main class="main">
      <div class="gallery-box">
        <div class="gallery-box__gallery">
          {% block gallery %}{% endblock %}
        </div>
      </div>
      
      {% if tour_name or activity_name %}
        <div class="instructor">
          <h3 class="heading-default instructor__heading">Your Guide</h3>
          <div class="instructor__details">
            <img
              src="{% block instructor_image %}{% endblock %}"
              alt="Instructor"
              class="instructor__image"
            />
            <h3 class="heading-default instructor__name">{% block instructor_name %}{% endblock %}</h3>
          </div>
        </div>
      {% endif %}
        
      {% if tour_rating or hotel_rating or activity_rating %}
        <div class="review">
          <h3 class="heading-default review__heading"><span class="review__count">{% block review_count %}{% endblock %}</span>reviews</h3>
          <div class="review__details">
            <!-- <button class="btn-default btn-prev review__btn--prev">prev &lArr;</button> -->

            <h3 class="heading-default review__text">
              &ldquo; {% block review %}{% endblock %} &rdquo;
              <span class="review__stars">&star; &star; &star; &star; &star;</span>
              <p class="review__author">&mdash; {% block review_author %}{% endblock %} <span class="review__year">{% block review_year %}{% endblock %}</span></p>
            </h3>

            <button class="btn-default btn-next review__btn--next">next &rArr;</button>
          </div>
        </div>
      {% endif %}
    </main>

    <div class="description">
      <h3 class="heading-default description__heading">About this {% block description_title %}{% endblock %}</h3>
      <h3 class="heading-default description__text">{% block description %}{% endblock %}</h3>
      <button class="btn-default btn-booking">Reserve Booking</button>
    </div>
  </body>
{% endblock %}
