{% extends 'main.html' %}
{% load static %}

{% block header-title %}
	{{ tour_name }}
{% endblock %}

{% block header-title-1 %}
	{{ tour_duration }} days tour
{% endblock %}

{% block header-title-2 %}
	{{ max_participants }} participants
{% endblock %}

{% block price %}
	{{ tour_price }} $ person
{% endblock %}

{% block gallery %}
   {% for image in tour_images %}
      <img src="{{ image.tour_image_url }}" alt="Tour Image" class="gallery-box__image"/>
   {% endfor %}
{% endblock %}

{% block instructor_image %}
   {% for instructor in tour_instructor %}
      {{ instructor.instructor_image }}
   {% endfor %}
{% endblock %}

{% block instructor_name %}
   {% for instructor in tour_instructor %}
      {{ instructor.first_name }} {{ instructor.last_name }}
   {% endfor %}
{% endblock %}

{% block description_title %}Tour{% endblock %}

{% block description %}
   {{ tour_description }}
{% endblock %}