.header__profile-menu {
  height: 8rem;
  width: 20rem;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  right: -3.5rem;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s 0.2s;
  background-color: var(--color-primary);
  border: 1px solid var(--color-border);
}
