.btn-secondary {
  border-radius: 5px;
  padding: 0.9rem 2rem;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
}
.btn-secondary:hover {
  color: var(--color-tertiary);
  background-color: var(--color-primary);
}
