.btn-secondary {
  border-radius: 5px;
  padding: 0.9rem 2rem;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
}
.btn-secondary:not(:last-of-type) {
  margin-bottom: 2rem;
}
.btn-secondary:hover {
  color: var(--color-tertiary);
}
