.message {
  position: fixed;
  top: 30%;
  left: 50%;
  padding: 1.6rem;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  font-size: 1.9rem;
  transform: translate(-50%, 30%);
  border-radius: 3px;
  z-index: 300;
  visibility: hidden;
  opacity: 0;
}
